
.site-header-bg{
  background-image: url(../../images/header-bg.svg);
  background-repeat: no-repeat;

}

.theme-dark .site-header-bg{
  background-image: url(../../images/header-bg-light.svg);
}

.site-header{
  min-height: 80px;
  background-color: var(--site-header-bg);
  backdrop-filter: blur(1px);
  padding-top: 18px;
  padding-bottom: 18px;
  transition: background-color 0.3s ease;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__start{
    display: flex;
    align-items: center;
  }
  &__logo{
    color: var(--text-main-color);
    margin-right: 152px;
  }
  
  &__list{
    display: flex;
    align-items: center;
  }
  &__item{
    margin-right: 16px;
  }
  &__link{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-main-color);
    transition: background-color 0.3s ease;
  }
  &__end{
    display: flex;
    align-items: center;
  }
  &__theme-button{
    width: 93px;
    height: 40px;
    background-color: transparent;
    border: none;
    background-image: url(../../images/nightmode.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.3s ease;
    margin-right: 40px;
  }
  .theme-dark &__theme-button{
    background-image: url(../../images/light-mode.svg);
  }
  &__tel-box{
    display: flex;
    flex-direction: column;
    margin-right: 31px;
  }
  &__tel{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-main-color);
  }
  
  &__mailto{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--text-main-color);
  }
  
  &__btn{
    background: #6911AD;
    border-radius: 7px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 13px 24px;
    cursor: pointer;
  }
  
  &__burger-btn{
    display: none;
    background-color: transparent;
    background-image: url(../../images/burger-dark.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 19px;
    border: none;
    margin-right: 112px;
  }
  
  &__menu-burger{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    padding-top: 18px;
    background: linear-gradient(0deg, rgba(85, 80, 80, 0.6), rgba(88, 85, 85, 0.6));
    transform: translateX(-100%);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  &__add-class{
    transform: translateX(0%);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  &__burger-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 57px;
  }
  
  &__close-btn{
    background-color: transparent;
    border: none;
  }
  
}
@media only screen and (max-width: 1100px){
  .site-header{
    &__wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
    }
    &__start{
      margin-bottom: 10px;
    }
    &__logo{
      margin-right: 52px;
    }
  }
}



@media only screen and (max-width: 630px){
  .site-header{
    &__start{
      flex-wrap: wrap;
      justify-content: center; 
    }
    &__end{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    &__list{
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__tel-box{
      margin-bottom: 10px;
    }
    &__theme-button{
      margin-bottom: 10px;
    }
  }
}


@media only screen and (max-width: 400px){
  .site-header{
    
    &__wrapper{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__nav{
      display: none;
    }
    &__tel-box{
      display: none;
    }
    &__btn{
      display: none;
    }
    &__theme-button{
      width: 36px;
      height: 36px;
      margin-bottom: 0px;
      margin-right: 0px;
      margin: 0px;
      background-image: url(../../images/res-dark.svg);
    }
    
    .theme-dark &__theme-button{
      background-image: url(../../images/light-res.svg);
    }
    
    &__logo{
      margin-right: 0px;
    }
    &__tel-box{
      margin-bottom: 0px;
    }
    &__burger-btn{
      display: block;
    }
    
    .theme-dark &__burger-btn{
      background-image: url(../../images/burger-img.svg);
    }
    &__menu-burger{
      display: block;
    }
    
    &__list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 122px;
      padding-left: 20px;
    }
    &__item{
      margin-bottom: 30px;
    }
    
    &__burger-tel{
      font-family: 'Proxima Nova';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 39px;
      color: #FFFFFF;
      margin-left: 20px;
      background: #6911AD;
      border-radius: 141px;
      padding: 20px 40px;
    }
  }
}