.hero-section{
  padding-top: 80px;
  padding-bottom: 120px;
  &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  &__title-box{
    margin-bottom: 50px;
  }
  
  &__title{
    width: 100%;
    max-width: 695px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: var(--text-main-color);
  }
  
  &__subtitle{
    width: 100%;
    max-width: 549px;
    margin-top: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px; 
    color: var(--text-main-color);
  }
  
  &__link{
    position: relative;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #929292;
    z-index: 9999;
    transition: 0.5s;
    left: 30px;

    &::before{
      position: absolute;
      content: '';
      width: 40%;
      height: 50px;
      border-radius: 50%;
      background-color: #6911AD;
      z-index: -9999;
      top: 0;
      transition: 0.5s;
      left: 0;
    }
    &:hover{
      &::before{
        width: 100%;
        transition: 0.5s;
        border-radius: 30px;
      }
      color: #fff;
    }
  }
  
}



@media only screen and (max-width: 768px){
  
}

